header[role='banner'],
[data-testid='sidebarColumn'] {
  display: none !important;
}

main[role='main'] {
  align-items: center !important;
}

[data-testid='primaryColumn'] {
  max-width: 800px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

